<ion-view view-title="Шаблони">
	<ion-content>
		<button class="button button-royal button-outline button-full" ng-controller="SampleFormCtrl" ng-click="modal_addSample()">Створити шаблон
		</button>
		<ion-list>
			<ion-item class="item-icon-right" ng-repeat="sample in samples" type="item-text-wrap"
					  ui-sref="tab.sample_detail({sampleId: $index})">
				<i ng-if="sample.enable" class="ion-checkmark balanced"></i> {{sample.name}}
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
			<p ng-hide="samples.length" class="padding-vertical text-center empty-search">Список порожній</p>
		</ion-list>
	</ion-content>
</ion-view>
