<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
	<!-- Мої Покупки Tab -->
	<ion-tab title="Мої Покупки" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" ui-sref="tab.purchases" on-select="main.getEnableSample(this)">
		<ion-nav-view name="tab-purchases"></ion-nav-view>
	</ion-tab>

	<!-- Шаблони Tab -->
	<ion-tab title="Шаблони" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" ui-sref="tab.samples">
		<ion-nav-view name="tab-samples"></ion-nav-view>
	</ion-tab>

	<!-- Товари Tab -->
	<ion-tab title="Товари" icon-off="ion-ios-pricetags-outline" icon-on="ion-ios-pricetags" ui-sref="tab.goods">
		<ion-nav-view name="tab-goods"></ion-nav-view>
	</ion-tab>
</ion-tabs>
