.view-content-center .scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
  margin-top: -75px; /* the height of the centered content */
  text-align: center;
}

.view-content-center .scroll {
  display: table-cell;
  vertical-align: middle;
}

.empty-list {
  i.icon {
    opacity: .1;
    font-size: 80px
  }
  p {
    opacity: .4;
    font-size: 18px;
  }
}

.empty-search {
  opacity: .4;
}
