<ion-view view-title={{title}}>
	<ion-content class="padding-vertical">
		<ion-list class="padding-vertical">
			<label class="item item-input item-stacked-label">
				<span class="input-label positive">Назва шаблона:</span>
				<input type="text" placeholder="Введіть назву" ng-model="sample.name">
			</label>

			<div class="button-bar padding-horizontal">
				<button class="button button-small button-full button-outline button-royal"
						ui-sref="tab.sample_ware-add-edit({sampleId: id, wareId: null})">Додати товар
				</button>
				<button class="button button-small button-full button-outline button-royal"
						ui-sref="tab.sample_goods-select({sampleId: id})">Вибрати товар
				</button>
			</div>

			<div class="item item-divider">Список закупок</div>

			<ion-item ng-repeat="ware in sample.goods" type="item-text-wrap">
				<div class="row row-no-padding">
					<div class="col col-60">
						{{ware.name}} <span ng-if="ware.count > 1">[{{ware.count}}]</span>
					</div>
					<div class="col col-50 text-right">
						{{ware.amount * (ware.count > 1 ? ware.count : 1) | currency:''}} грн.
					</div>
				</div>
				<ion-option-button class="button-clear button-positive"
								   ui-sref="tab.sample_ware-add-edit({sampleId: id, wareId: $index})">
					Ред.
				</ion-option-button>
				<ion-option-button class="button-icon icon ion-trash-a"
								   ng-click="remove_mare($index)"></ion-option-button>
			</ion-item>

			<div ng-hide="sample.goods.length" class="padding-top text-center empty-search">Список порожній</div>
		</ion-list>

		<div class="padding">
			<button class="button button-block button-outline button-positive" ng-click="save()">Зберегти</button>
		</div>
	</ion-content>
</ion-view>
